<h1 class="hdg push--bottom">
  Just a moment, please, while we process your import
</h1>

<div class="spinner">
  <div class="spinner__dot spinner__dot--1"></div>
  <div class="spinner__dot spinner__dot--2"></div>
  <div class="spinner__dot spinner__dot--3"></div>
</div>
