<h1 class="hdg">
  Does this look right?
</h1>

<p class="flush--top">
  <strong>Your import is being processed.</strong> Please review these samples from the vCard to make sure it looks correct:
</p>

<section class="contact-list push--bottom">
  <%= render partial: "contacts/contact", collection: @import.contacts %>
</section>

<%= link_to "Yes, looks good", account_contacts_path(@account), class: "btn" %>
