<h1 class="hdg">
  Your import has been processed.
</h1>

<p class="flush--top">
  Please review your contacts to make sure it looks correct:
</p>

<section class="contact-list push--bottom">
  <%= render partial: "contacts/contact", collection: @account.contacts %>
</section>

<%= link_to "Yes, looks good", account_contacts_path(@account), class: "btn" %>
