<h1 class="hdg">
  Your import has been processed.
</h1>

<p class="flush--top">
  Please review these samples from the vCard to make sure it looks correct:
</p>

<section class="contact-list push--bottom">
  <%= render @account.contacts.order(created_at: :desc) %>
</section>

<%= link_to "Yes, looks good", account_contacts_path(@account), class: "btn" %>
