<div class="contact-list__contact">
  <div class="contact-list__info">
    <h3 class="contact-list__name txt--break-words">
      <%= contact.name %>
    </h3>

    <p class="contact-list__meta"><%= contact.email_address %></p>
  </div>
</div>
