*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base */
html,
body {
  background: var(--color-bg--main);
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  color: var(--color-txt);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.4;
}

body {
  font-size: var(--font-size-medium);
  padding: 0 0 var(--body-padding);
}

/* Buttons */
.btn {
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--btn-border-color, var(--color-secondary));
  border-radius: 3rem;
  color: var(--btn-color, var(--color-secondary));
  display: inline-block;
  font-family: inherit !important;
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: inherit;
  margin: 0;
  max-inline-size: 100%;
  padding: 0.3em 0.8em;
  text-decoration: none;
  white-space: nowrap;

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.btn--icon {
  padding-left: 2.2em;
  position: relative;

  &::before {
    background: center / 1em no-repeat;
    background-image: url('icons/contact-import.svg');
    block-size: 1em;
    content: '';
    filter: invert(37%) sepia(90%) saturate(6264%) hue-rotate(198deg) brightness(101%) contrast(101%);
    inset-block-start: 50%;
    inset-inline-start: 0.75em;
    inline-size: 1em;
    margin-block-start: -0.5em;
    position: absolute;
  }

  @media (prefers-color-scheme: dark) {
    &::before {
      filter: invert(50%) sepia(49%) saturate(3205%) hue-rotate(198deg) brightness(101%) contrast(103%);
    }
  }
}

/* Page */
.page {
  inline-size: 100%;
  margin: 0 auto;
  max-inline-size: var(--content-width);
  min-block-size: calc(100vh - var(--body-padding) - (var(--page-padding) * 2));
  padding: var(--page-padding);
  position: relative;
}

.page__content {
  margin: 0 auto;
  max-inline-size: 64rem;
}

/* Sheets */
.sheet {
  background: var(--color-bg--sheet);
  border-radius: 1.5em;
  box-shadow: 0 0 3rem var(--color-shadow);
  margin: 0 auto 2em;
  padding: 5rem;
  position: relative;
}

.sheet-actions {
  display: flex;
  inset-block-start: -3rem !important;
  inset-inline-end: -3rem !important;
  position: absolute;
}

/* Headings */
.hdg {
  font-size: var(--font-size-xx-large);
  font-weight: bold;
  line-height: 1;
}

.hdg--divider {
  position: relative;
  z-index: 1;

  > span {
    background-color: var(--color-bg--main);
    padding: 0 0.5em 0 0;
  }

  &::before {
    background: linear-gradient(135deg, var(--color-secondary) 0%, var(--color-tertiary) 100%);
    block-size: 1px;
    content: '';
    inset: 50% 0 0 0;
    position: absolute;
    z-index: -1;
  }
}

.hdg--divider-centered {
  > span {
    padding: 0 0.25em;
  }
}

/* Contacts */
.contact-list__contact {
  display: flex;
  margin: auto;
  padding: 0.5em 0;
  position: relative;
  text-decoration: none;

  &::after {
    border-bottom: 1px solid var(--color-border);
    content: "";
    inset: 0;
    position: absolute;
  }

  &:last-child::after { display: none; }
}

.contact-list__info {
  align-self: center;
  flex-grow: 1;
  margin: 0.16em 0.33em 0.16em 0;
  word-break: break-all;
}

.contact-list__name {
  font-size: var(--font-size-medium);
  line-height: 1;
  margin: 0;
}

.contact-list__meta {
  color: var(--color-txt--subtle);
  font-size: var(--font-size-small);
  line-height: 1.1;
  margin: 0.2rem 0 0;
  word-break: break-word;
}

/* Action groups */
.action-group {
  inline-size: 100%;
  margin: var(--base-space) auto;
  text-align: left;

  &:last-child { margin-bottom: 0; }
}

.action-group__item {
  background: var(--color-action-group-surface);
  position: relative;

  &:last-child {
    border-end-end-radius: 0.8rem;
    border-end-start-radius: 0.8rem;
  }

  + .action-group__item {
    &::before {
      background-color: var(--color-action-group-border);
      block-size: 1px;
      content: "";
      inset: 0 0 0 3em;
      position: absolute;
    }
  }

  &:first-child {
    border-start-end-radius: 0.8rem;
    border-start-start-radius: 0.8rem;
  }
}

.action-group__action {
  background: none;
  border-radius: inherit;
  color: inherit;
  cursor: pointer;
  display: block;
  font-weight: 500;
  inline-size: 100%;
  padding: 0.66em 0.66em 0.66em 3em;
  position: relative;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &::before {
    background: center center / 1.125em no-repeat;
    background-image: url('icons/contact-import.svg');
    block-size: 100%;
    content: "";
    filter: none;
    inline-size: 3em;
    inset: 0;
    position: absolute;
  }

  @media (prefers-color-scheme: dark) {
    &::before {
      filter: invert(100%);
    }
  }

  &:focus {
    background: var(--color-action-group-action-focused);
    outline: none;
  }

  @media(hover: hover) {
    &:hover {
      background: var(--color-action-group-action-hovered);
    }
  }
}
