<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HEY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
  </head>

  <body>
    <main id="main-content" class="page page--medium">
      <div class="page__content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
