<div class="sheet push--block-start">
  <header class="align--center">
    <h1 class="hdg hdg--divider hdg--divider-centered flush">
      <span>Accounts</span>
    </h1>
  </header>

  <%= render @accounts %>
</div>
